{% extends 'base.html.twig' %}

{% block title %}Moja półka{% endblock %}

{% block body %}
    <h1>Moja półka</h1>
    <h2>Nowości</h2>
    <div style="width:100%;margin-top:1%;">
        {% for book in newestBooks %}
            <div style="width:20%;float:left;">
                <a href="{{ path('show-books', {'id': book.id}) }}">
                    <img alt="picture" style="width:90%; height:auto" src="
            {% if(book.imageFilename != null) %}
                {{ asset('uploads/images/' ~ book.imageFilename) }}
            {% else %}
                {{ asset('uploads/images/default.jpg') }}
            {% endif %}
            "/>
                    <p>{{ book.categoryName }}</p>
                    <p>{{ book.title }}</p>
                    <p>{{ book.author }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <div style="clear:both"></div>
    <h2>Polecane dla Ciebie</h2>
    <div style="width:100%;margin-top:1%;">
        {% for book in recomendedForYou %}
            <div style="width:20%;float:left;">
                <a href="{{ path('show-books', {'id': book.id}) }}">
                    <img alt="picture" style="width:90%; height:auto" src="
            {% if(book.imageFilename != null) %}
                {{ asset('uploads/images/' ~ book.imageFilename) }}
            {% else %}
                {{ asset('uploads/images/default.jpg') }}
            {% endif %}
            "/>
                    <p>{{ book.categoryName }}</p>
                    <p>{{ book.title }}</p>
                    <p>{{ book.author }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <div style="clear:both"></div>
    <h2>Twoja półka</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Zdjęcie</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Kategoria</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for book in myBooks %}
            <tr>
                <th><img style="width:100px; height:auto" src="
        {% if(book.imageFilename != null) %}
        {{ asset('uploads/images/' ~ book.imageFilename) }}
        {% else %}
        {{ asset('uploads/images/default.jpg') }}
        {% endif %}
        "/></th>
                <th><a href="{{ path('show-books', {'id': book.id}) }}">{{ book.title }}</a></th>
                <th>{{ book.author }}</th>
                <th>{{ book.categoryName }}</th>
                <th>{{ book.status }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
